<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/nestedcontroller.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul ng-controller="nestedController">
        <li ng-repeat="country in countries">
            {{country.name}} - Index {{$index}}
            <ul ng-controller="nestedController">
                <li ng-repeat="city in country.cities">
                    {{city.name}} -Index {{$index}}
                </li>
            </ul>
        </li>
    </ul>
    
</body>
</html>